.empty {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    height: 100%;
}

.image {
    max-height: 186px;
    object-fit: contain;
}

.text_inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.subtitle {
    font-size: var(--font-size-subheading);
    color: var(--color-black-900);
}

.text {
    font-weight: 400;
}

