.filters {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.filters__search {
    position: relative;
    display: flex;
    align-items: center;
    color: var(--color-black-300);
    transition: color 0.3s ease;
}

.filters__search:focus-within {
    color: var(--color-black-600);
}

.search__icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.search__icon_start {
    left: 24px;
    pointer-events: none;
}

.search__icon_end {
    right: 12px;
}

.search__input {
    min-height: 48px;
    width: 100%;
    border: 1px solid var(--color-black-50);
    color: var(--color-black-500);
    outline: none;
    border-radius: 68px;
    padding: 14px 24px 14px 52px;
    font-weight: 400;
    transition: border-color 0.3s ease, color 0.3s ease;
}

.search__input::placeholder {
    color: var(--color-black-300);
}

.filters__search:focus-within .search__input {
    border-color: var(--color-black-600);
    color: var(--color-black-700);
}

.search__clear {
    opacity: 0;
    pointer-events: none;
    color: var(--color-black-500);
    transition: opacity 0.3s ease, color 0.3s ease;
}

.search__clear:hover {
    color: var(--color-black-700);
}

.search__clear_visible {
    opacity: 1;
    pointer-events: auto;
    transition-delay: 0.1s;
}

.filters__group {
    display: flex;
    flex-direction: column;
    gap: 8px;
    border: none;
}

.group__title {
    font-size: var(--font-size-small);
    font-weight: 400;
}

.group__list {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin-top: 8px;
}

.group__more {
    font-size: var(--font-size-small);
    color: var(--color-purple-800);
    transition: color 0.3s ease;
    position: relative;
    display: inline-flex;
    width: fit-content;
    margin-top: 4px;
}

.group__more:hover {
    color: var(--color-purple-900);
}

.group__more:focus-visible {
    outline: 2px solid var(--color-purple-700);
}

.group__more::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: currentColor;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.group__more:hover::after {
    opacity: 1;
}