.menu {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.menu__item {
    display: flex;
    font-size: var(--font-size-small);
    align-items: center;
    gap: 12px;
    padding: 8px 12px;
    border-radius: 12px;
    color: var(--color-black-800);
    transition: background-color 0.2s ease, color 0.2s ease;
}

.menu__item:hover {
    background-color: var(--color-purple-100);
    color: var(--color-purple-700);
}

.menu__item:focus-visible {
    outline: 2px solid var(--color-purple-700);
}