.section {
    display: flex;
    flex-direction: column;
    background-color: var(--color-white-900);
    border-radius: 24px;
    padding: 24px;
    box-shadow: var(--shadow-main);
    gap: 24px;
}