.sections {
    display: flex;
    gap: 20px;
    margin-top: 24px;
}

.section__filters {
    max-width: 360px;
    width: 100%;
    height: 100%;
    position: sticky;
    top: 90px;
    flex-shrink: 0;
}