.question {
    display: flex;
    flex-direction: column;
    gap: 24px;
    border-bottom: 1px solid var(--color-black-100);
    padding-bottom: 24px;
}

.question__header {
    display: flex;
    align-items: center;
    gap: 8px;
}

.question__header::before {
    content: '';
    width: 8px;
    height: 8px;
    background-color: var(--color-purple-700);
    border-radius: 50%;
}

.question__title {
    font-size: var(--font-size-subheading);
    line-height: var(--font-line-normal);
    color: var(--color-black-900);
    font-weight: 500;
}

.question__toggle {
    margin-left: auto;
    color: var(--color-purple-700);
}

.question__toggle:focus-visible {
    outline: 2px solid var(--color-purple-700);
}

.question__content {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.question__meta {
    display: flex;
    align-items: center;
}

.meta__info {
    display: flex;
    align-items: center;
    gap: 40px;
    padding-left: 24px;
}

.meta__item {
    display: flex;
    align-items: center;
    background-color: var(--color-black-10);
    color: var(--color-black-800);
    font-weight: 600;
    padding: 6px 10px;
    border-radius: 8px;
    gap: 12px;
    font-size: var(--font-size-small);
}

.meta__value {
    background-color: var(--color-purple-700);
    padding: 2px 4px;
    border-radius: 4px;
    color: var(--color-white-900);
}

.question__options {
    display: flex;
    flex-direction: column;
    gap: 3px;
    margin-left: auto;
    padding: 4px;
}

.question__options:focus-visible {
    outline: 2px solid var(--color-purple-700);
    outline-offset: 2px;
}

.options__dot {
    width: 3px;
    height: 3px;
    background-color: var(--color-black-600);
    border-radius: 50%;
}

.question__text{
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.question__paragraph {
    line-height: var(--font-line-heading);
}

.question__code {
    background-color: var(--color-black-800);
    border-radius: 12px;
    padding: 24px;
    overflow-x: auto;
    margin: 0;
}

.code__content {
    font-family: system-ui, monospace;
    font-size: var(--font-size-small);
    color: var(--color-black-100);
    white-space: pre-wrap;
    word-break: break-word;
}