.question {
    display: flex;
    flex-direction: column;
    gap: 24px;
    border-bottom: 1px solid var(--color-black-100);
    padding-bottom: 24px;
}

.question__header {
    display: flex;
    align-items: center;
    gap: 8px;
}

.question__header::before {
    content: '';
    width: 8px;
    height: 8px;
    background-color: var(--color-purple-700);
    border-radius: 50%;
}

.question__title {
    font-size: var(--font-size-subheading);
    line-height: var(--font-line-normal);
    color: var(--color-black-900);
    font-weight: 500;
}

.question__toggle {
    margin-left: auto;
    color: var(--color-purple-700);
}

.question__toggle:focus-visible {
    outline: 2px solid var(--color-purple-700);
}

.question__content {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.question__meta {
    display: flex;
    align-items: center;
}

.meta__info {
    display: flex;
    align-items: center;
    gap: 40px;
    padding-left: 24px;
}

.meta__item {
    display: flex;
    align-items: center;
    background-color: var(--color-black-10);
    color: var(--color-black-800);
    font-weight: 600;
    padding: 6px 10px;
    border-radius: 8px;
    gap: 12px;
    font-size: var(--font-size-small);
}

.meta__value {
    background-color: var(--color-purple-700);
    padding: 2px 4px;
    border-radius: 4px;
    color: var(--color-white-900);
}

.question__options {
    display: flex;
    flex-direction: column;
    gap: 3px;
    margin-left: auto;
    padding: 4px;
}

.question__options:focus-visible {
    outline: 2px solid var(--color-purple-700);
    outline-offset: 2px;
}

.options__dot {
    width: 3px;
    height: 3px;
    background-color: var(--color-black-600);
    border-radius: 50%;
}

.question__text {
    display: flex;
    flex-direction: column;
    line-height: var(--font-line-heading);
    color: var(--color-black-800);
}

.question__text p {
    margin-block: 0 15px;
}

.question__text pre {
    margin-block: 0 15px;
    overflow: hidden;
    padding: 0;
    position: relative;
    scrollbar-color: #b0b0b0 #0000;
    scrollbar-width: thin;
    border-radius: 12px;
}

.question__text pre code {
    display: block;
    background-color: var(--color-black-800);
    color: var(--color-white-900);
    font-size: var(--font-size-small);
    padding: 12px;
    scrollbar-width: thin;
    tab-size: 2;
}

.question__text code {
    background: var(--color-black-25);
    border-radius: 3px;
    color: var(--color-green-700);
    display: inline-flex;
    font-size: var(--font-size-small);
    line-height: 1.2;
    padding: 2px 4px;
    vertical-align: initial;
}

.code__content {
    font-family: system-ui, monospace;
    font-size: var(--font-size-small);
    color: var(--color-black-100);
    white-space: pre-wrap;
    word-break: break-word;
}