.section__title {
    font-size: var(--font-size-heading);
    line-height: var(--font-line-normal);
    font-weight: 500;
    color: var(--color-black-900);
    border-bottom: 1px solid var(--color-black-50);
    padding-bottom: 15px;
}