.sidebar {
    display: flex;
    flex-direction: column;
    background-color: var(--color-white-900);
    min-height: 100dvh;
    height: 100%;
    max-width: var(--width-sidebar);
    width: 100%;
    position: sticky;
    top: 0;
}

.sidebar__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: var(--height-header);
    border-bottom: 1px solid var(--color-black-25);
    padding-inline: 20px;
}

.sidebar__toggle {
    padding: 8px;
    transition: color 0.3s ease;
}

.sidebar__toggle:hover {
    color: var(--color-purple-700);
}

.sidebar__toggle:focus-visible {
    outline: 2px solid var(--color-purple-700);
}

.sidebar__nav {
    padding-inline: 20px;
    margin-top: 40px;
    flex-grow: 1;
}

.nav__list {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.nav__item {
    display: flex;
    width: 100%;
    align-items: center;
    gap: 8px;
    border-radius: 12px;
    font-size: var(--font-size-normal);
    line-height: var(--font-line-small);
    color: var(--color-black-800);
    transition: background-color 0.3s ease, color 0.3s ease;
    padding: 12px 15px;
}

.nav__item:hover {
    background-color: var(--color-black-10);
    color: var(--color-purple-700);
}

.nav__item:focus-visible {
    outline: 2px solid var(--color-purple-700);
}

.nav__item_expanded {
    background-color: var(--color-black-10);
    border-radius: 12px;
}

.nav__icon_chevron {
    margin-left: auto;
}

.nav__submenu {
    padding-inline: 12px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding-bottom: 12px;
    margin-top: 8px;
}

.nav__item_submenu {
    background-color: var(--color-purple-100);
}

.nav__item_submenu:hover {
    background-color: var(--color-purple-200);
    color: var(--color-purple-700);
}

.sidebar__footer {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}