.sidebar {
    display: flex;
    flex-direction: column;
    background-color: var(--color-white-900);
    min-height: 100dvh;
    height: 100%;
    max-width: var(--width-sidebar);
    width: 100%;
    transition: max-width 0.3s ease;
}

.sidebar[data-collapsed="true"] {
    max-width: var(--width-small-sidebar);
}

.sidebar__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: var(--height-header);
    border-bottom: 1px solid var(--color-black-25);
    padding-inline: 20px;
    position: relative;
    transition: padding-inline 0.3s ease;
}

.sidebar[data-collapsed="true"] .sidebar__header {
    padding-inline: 28px;
}

.sidebar__toggle {
    position: absolute;
    top: 50%;
    right: 12px;
    transform: translateY(-50%);
    padding: 8px;
    transition: color 0.3s ease, right 0.3s ease, transform 0.4s ease;
    z-index: 100;
}

.sidebar[data-collapsed="true"] .sidebar__toggle {
    right: -50px;
    transform: translateY(-50%) rotate(180deg);
}

.sidebar__toggle:hover {
    color: var(--color-purple-700);
}

.sidebar__toggle:focus-visible {
    outline: 2px solid var(--color-purple-700);
}

.sidebar__nav {
    padding-inline: 20px;
    margin-top: 40px;
    flex-grow: 1;
}

.nav__list {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.nav__group {
    border-radius: 12px;
    background-color: var(--color-black-10);
}

.nav__item {
    display: flex;
    width: 100%;
    align-items: center;
    gap: 8px;
    border-radius: 12px;
    font-size: var(--font-size-normal);
    line-height: var(--font-line-small);
    color: var(--color-black-800);
    transition: background-color 0.3s ease, color 0.3s ease;
    padding: 10px 12px;
}


.nav__item:hover {
    background-color: var(--color-black-10);
    color: var(--color-purple-700);
}

.nav__item:focus-visible {
    outline: 2px solid var(--color-purple-700);
}

.nav__icon {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
}

.sidebar[data-collapsed='true'] .nav__item_submenu .nav__icon {
    width: 20px;
    height: 20px;
}

.nav__label {
    text-wrap: nowrap;
    opacity: 1;
    transition: opacity 0.3s ease;
}

.sidebar[data-collapsed='true'] .nav__label {
    width: 0;
    opacity: 0;
}

.nav__chevron {
    margin-left: auto;
    display: inline-flex;
    transition: transform 0.3s ease, opacity 0.2s ease;
}

.sidebar[data-collapsed="true"] .nav__chevron {
    opacity: 0;
    width: 0;
}

.nav__group[data-expanded="true"] .nav__chevron {
    transform: rotate(180deg);
}

.nav__submenu {
    overflow: hidden;
    max-height: 0;
    opacity: 0;
    transform: translateY(-4px);
    transition: max-height 0.4s ease, opacity 0.3s ease, transform 0.3s ease;
}

.nav__submenu_inner {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 12px;
    transition: padding 0.3s ease;
}

.sidebar[data-collapsed="true"] .nav__submenu_inner {
    padding: 6px;
}

.nav__item_submenu {
    background-color: var(--color-purple-100);
}

.nav__item_submenu:hover {
    background-color: var(--color-purple-200);
    color: var(--color-purple-700);
}

.sidebar[data-collapsed="true"] .nav__item_submenu {
    padding: 8px;
}

.nav__group[data-expanded="true"] .nav__submenu {
    max-height: 1000px;
    opacity: 1;
    transform: translateY(0);
}

.sidebar__footer {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.sidebar[data-collapsed="true"] .footer__button {
    gap: 0;
}