html,
body {
    height: 100%;
    overflow: hidden;
}

body {
    font-family: "Manrope", system-ui, sans-serif;
    font-size: var(--font-size-normal);
    font-weight: 500;
    line-height: var(--font-line-normal);
    background-color: var(--color-black-25);
    color: var(--color-black-700);
}

button {
    background-color: transparent;
    border: none;
    display: inline-flex;
    padding: 0;
}

legend {
    padding: 0;
}

.visually-hidden {
    position: absolute !important;
    margin: -1px;
    border: 0;
    padding: 0;
    overflow: hidden;
    clip: rect(0 0 0 0);
    inline-size: 1px;
    block-size: 1px;
    white-space: nowrap;
    clip-path: inset(50%);
}