:root {
    /* Colors */
    --color-purple-700: #6a0bff;
    --color-purple-100: #f0e7ff;
    --color-red-600: #f3164e;
    --color-black-900: #191919;
    --color-black-800: #303030;
    --color-black-700: #474747;
    --color-black-600: #5e5e5e;
    --color-black-50: #e8e8e8;
    --color-black-25: #f4f4f4;
    --color-black-10: #f8f8f8;
    --color-white-900: #ffffff;

    /* Typography */
    --font-size-heading: 24px;
    --font-line-heading: 1.2;
    --font-weight-heading: 500;
    --font-size-subheading: 20px;
    --font-line-subheading: 120%;
    --font-weight-subheading: 500;
    --font-size-normal: 16px;
    --font-line-normal: 1.3;
    --font-weight-normal: 500;
    --font-size-small: 14px;
    --font-line-small: 1.2;
    --font-weight-small: 600;
}
