:root {
    /* Colors */
    --color-purple-900: #400799;
    --color-purple-800: #5509cc;
    --color-purple-700: #6a0bff;
    --color-purple-300: #d2b6ff;
    --color-purple-200: #e1ceff;
    --color-purple-100: #f0e7ff;
    --color-purple-50: #fdf4ff;
    --color-red-800: #af0932;
    --color-red-700: #d50b3e;
    --color-red-600: #f3164e;
    --color-red-100: #fdd8e1;
    --color-red-25: #ffecf5;
    --color-green-700: #26a95f;
    --color-black-900: #191919;
    --color-black-800: #303030;
    --color-black-700: #474747;
    --color-black-600: #5e5e5e;
    --color-black-500: #757575;
    --color-black-300: #a3a3a3;
    --color-black-200: #bababa;
    --color-black-100: #d1d1d1;
    --color-black-50: #e8e8e8;
    --color-black-25: #f4f4f4;
    --color-black-10: #f8f8f8;
    --color-white-900: #ffffff;
    /* Typography */
    --font-size-heading: 24px;
    --font-size-subheading: 20px;
    --font-size-normal: 16px;
    --font-size-small: 14px;
    --font-line-heading: 1.3;
    --font-line-normal: 1.2;
    --font-line-small: 1.1;
    /* Sizes */
    --height-header: 72px;
    --width-sidebar: 280px;
    --width-avatar: 40px;
    /* Shadows */
    --shadow-main: 0 4px 10px rgba(106, 99, 118, 0.1);
}
