.button {
    display: inline-flex;
    gap: 8px;
    justify-content: center;
    align-items: center;
    padding: 12px;
    border-radius: 12px;
    font-weight: 600;
    transition-duration: 0.3s;
    outline: none;
}

.button__primary {
    background-color: var(--color-purple-700);
    color: var(--color-white-900);

}

.button__primary:hover {
    background-color: var(--color-purple-800);
}

.button__primary:active {
    background-color: var(--color-purple-900);
}

.button__primary:focus-visible {
    background-color: var(--color-purple-800);
    outline: 2px solid var(--color-purple-900);
    outline-offset: -1px;
}

.button__destructive {
    border: 1px solid var(--color-red-600);
    color: var(--color-red-600);
}

.button__destructive:hover {
    background-color: var(--color-red-25);
}

.button__destructive:active {
    background-color: var(--color-red-100);
    border-color: var(--color-red-800);
}

.button__destructive:focus-visible {
    outline: 2px solid var(--color-red-600);
}

.button__outline {
    border: 1px solid var(--color-purple-700);
    color: var(--color-purple-700);
}

.button__outline:hover {
    background-color: var(--color-purple-50);
}

.button__outline:active {
    background-color: var(--color-purple-100);
    border-color: var(--color-purple-800);
}

.button__outline:focus-visible {
    outline: 2px solid var(--color-purple-600);
}

.button__disable {
    background-color: var(--color-black-100);
    color: var(--color-white-900);
    pointer-events: none;
}