.page {
    display: flex;
}

.sidebar {
    display: flex;
    flex-direction: column;
    background-color: var(--color-white-900);
    min-height: 100dvh;
    max-width: var(--width-sidebar);
    width: 100%;
}

.sidebar__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: var(--height-header);
    border-bottom: 1px solid var(--color-black-25);
}

.header__button {
    padding: 8px 28px 8px 8px;
    transition-duration: 0.3s;
}

.header__button:hover {
    color: var(--color-purple-700);
}

.sidebar__nav {
    padding-inline: 20px;
    margin-top: 40px;
    flex-grow: 1;
}

.nav__list {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.item__link,
.item__button {
    display: inline-flex;
    width: 100%;
    align-items: center;
    gap: 8px;
    border-radius: 12px;
    font-size: var(--font-size-normal);
    line-height: var(--font-line-small);
    color: var(--color-black-800);
    transition-duration: 0.3s;
    padding: 12px 15px;
}

.item__link:hover,
.item__button:hover {
    background-color: var(--color-black-10);
    color: var(--color-purple-700);
}

.submenu {
    padding-inline: 12px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding-bottom: 12px;
}

.sidebar__footer {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.icon__accordion {
    margin-left: auto
}

.accordion__expanded {
    background-color: var(--color-black-10);
    border-radius: 12px;
}

.submenu .item__link {
    background-color: var(--color-purple-100);
}

.submenu .item__link:hover {
    background-color: var(--color-purple-200);
}